extends ../_layouts/article

block content
    h1 Day 1: How Facebook Ads Generate Paying Customers

    p Welcome to day 1 of the email series that teaches you how to use Facebook Ads to drive paying customers to your local business!

    p Since Facebook Ads are a little different than traditional advertising, I'm going to explain the entire process at a high level.  Having a solid understanding of the entire process will make it easier to understand each individual concepts in the following 2 days.

    p With that said, let's talk about what makes Facebook Ads better than most traditional forms of advertising.

    h2 Why Facebook Ads?

    p Facebook Ads are what we call passive ads.  This means that users who see your ads aren't necessarily looking to purchase right then.  If users aren't thinking about purchasing, why use Facebook Ads?

    p
        | Facebook is a place to share things about your life, so they know
        b  a lot
        |  about their users.  Luckily, Facebook lets you tap into this data (in aggregate) with Facebook Ads. You can easily target groups of people from specific areas, with specific interests, etc.

    p With all of this user data, you can show your ads to a very specific audience.  This increases the effectiveness of your ads as well as reducing the cost. Sounds pretty nice!

    h2 Turning users into paying customers

    p Since users aren't looking to purchase when they see your ad, it's important that you don't try to sell to them immediately.  They aren't ready!  Instead, you need to nurture them into a customer.  Let's talk about the 4 steps a user takes to go from Facebook user to paying customer.

    p
        b Step 1: User clicks on your ad
        |  - the user sees your Facebook ad offering something of value to them (discount, guide, free quote, etc.)  If your offer matches your target audience, then they will click on the ad to go to your website.

    p
        b Step 2: User opts in on your website
        |  - the ad takes the user to a specific page with an opt-in form for your offer. It's important that you aren't trying to sell here!  You simply want to give your free offer in exchange for their email or other contact information.  This way you can stay in contact and guide them to paying customer.

    p
        b Step 3: User receives a series of emails
        |  - when the user opts in, they will receive their offer as promised, and also be sent through a series of email.  The first couple emails they receive offer more value and aim to educate the user.  Once you have educated your user, you can position your business as the solution to their problems.  Since you have offered free information up front, the user is more likely to trust your business. This means they are more likely to purchase from you!

    p
        b Step 4: User is sent offers periodically
        |  - at this point, a lot of customers will have purchased.  But that doesn't mean you shouldn't keep in contact!  You now have a list of people that gave you their contact information for something related to your business.  That means they are highly interested!  Now you can send them periodic emails offering discounts, free information, new products, etc.  It's an on-demand connection to hundreds of your customers.

    p This process takes a little more nurturing than traditional cold sales, but you will see significantly better results.  Your goal is to build trust and offer value.  Naturally, your customer is going to see your business as an expert and is much more likely to purchase from you.

    p On top of that, you now have a large list of customers that have already purchased or are interested in something related to your business.  Anytime you want to run a sale, offer a new product or ask your customers a question, you have direct access to them.

    p
        | The bottom line is Facebook ads are an extremely powerful tool that
        b  not a lot of local businesses are using.
        |  This means your business now has an advantage over other local businesses that aren't using Facebook Ads.  Use this advantage to take your business to the next level!

    p Today I wanted to give you an overview of how Facebook Ads can be used for your business.  Tomorrow, we'll dive into the details on how to create an offer your audience can't resist as well as how to collect contact information for that offer.

    p I'll see you then!

    p
        | Best,
        br
        | Shane
