doctype html
html
    head
        include ../includes/head
        block head

    body#article
        include ../includes/site-header

        main
            block content

        include ../includes/ga
        include ../includes/active-campaign
