doctype html
html
    head
        include ../_includes/head
        block head

    body#article
        include ../_includes/site-header

        main
            block content

        include ../_includes/ga
        include ../_includes/active-campaign
