extends ../_layouts/article

block content
    h2 Day 1: Claiming and Verifying your Listing on Google Business

    p Welcome to day 1 of the email series that teaches you how to get your business to the front page of Google. 

    p Since getting to the front page of Google has not been a conventional business practice to get customers and increase sales until a few years ago, I will start at the macro level of why it's important and then proceed to give you actionable suggestions to follow today to get yours started. By understanding the value, it will show you the return on investment of time you'll be spending initially. 

    p Today's lesson should take you no more than two hours of work, but probably significantly less.

    p My goal with each lesson is to leave you with actionable tips about how to take your business to the front page of Google. If you have any questions don't hesitiate to email me at shane@shaneburkhart.com.

    h2 Why is it important to be on the Front Page? 

    p In 2014, Google partnered with two media firms to research and better understand consumer's local search behavior. They found that 4 in 5 (80%) people use Google search to find local product information! These searches include people searching for a specific type of local store, getting directions to a local store, trying to find hours of operation for a local store, looking for product availibility at a local store.  

    p Of those local searches, 18% of them lead to a purchase within a day! 



    p Step 1: Finding Your Business Listing on Google 

    p Step 2: Verifying, Updating, and Adding Information

    p Verify hours, address, phone number, categoy, website url, etc (menu (if applicable), etc) 
    p Add appealing photos or logo 

    p Description: 
    p Make sure you have a description and introduction that is keyword-rich and really tells visitors what exactly you do. 
    p Make Sure Your Profile is at 100% Complete


