extends ../_layouts/article


block content
    h1 Day 2: Optimizing Your Profile with Photos and Reviews

    p Welcome to day 2! Yesterday, we focused on the importance of being on the front page of Google and getting your Google Busines listing setup and to 100% complete. 

    p Today we will be focusing on optimizing your profile with photos and reviews. 

    p Once your local profile is complete, the next most important things to focus on is optimizing your profile. Optimization is important for two reasons. One, so that Google prefers to show your business listing over your competitors. And, two, because it helps potential customers get a feel for your business. The more information a customer has on your business, the more likely they'll be to make a decision for your business!

    h2 Photos

    p 
        b Local business listings on Google that had photos get approximately 248% more clicks! 

    p And the higher quality those photos are, the most trust you'll build with the searchers