extends ../_layouts/article


block content
    h2 Day 2: Optimizing Your Profile with Photos and Reviews

    p Welcome to day 2! Yesterday, we focused on the importance of being on the front page of Google and getting your Google Busines listing setup and to 100% complete. 

    p Today we will be focusing on optimizing your profile to show

    p Once your local profile is complete, the next most important things to focus on is optimizing your profile. Optimization is important for two reasons. One, so that Google prefers to show your business listing over someone else's. And, two, because it helps potential customers get a feel for your business. The more information a customer has on your business, the more likely they'll be to make a decision for you over a competitor!

    p dklfajd;kfajdafl;j d;alkf