extends ./_layouts/landing-page-no-header
include ./_mixins/landing-page

block variables
   - var title = 'Grow Your Local Business With Facebook Ads';
   - var fbImage = 'https://s3.amazonaws.com/spark-school/tutorials/nodejs-to-heroku/coding-on-a-laptop.jpg'
   - var fbType = 'product';
   - var currentPath = '/grow-your-local-business-with-facebook-ads-email-series';
   - var description = 'It is more possible than ever to become a software developer without a college degree.  Take your first step towards getting a job as a software developer.';

block no_hero

block content
    .section.light-gray#signup-section
        .container
            .description
                h1 Grow Your Local Business With Facebook Ads
                p
                    | If you aren't using Facebook Ads for your local business, you are missing out on a
                    b  huge opportunity to bring in new paying customers!
                p
                    | With over 1 billion daily users, you can be certain your customers are on Facebook.
                    b  But how do you find them?
                p
                    | This FREE 7-day email series teaches you how to use Facebook Ads to find users in your area and
                    b  turn them into paying customers for your local business!
            .graphic
                .signup-form
                    h3.bold Get my FREE email series!
                    p.light
                        | This 7-day email series teaches you how to
                        b  use Facebook Ads to drive paying customers
                        |  to your local business. Enter your email to get started!
                    ._form_3
                    script(src="https://sparkschool.activehosted.com/f/embed.php?id=3" type="text/javascript" charset="utf-8")

    .section.dark-green
        .container
            .description
                h2.bold Meet the teacher
                p Hey, there!  My name is Shane and I am a digital marketer who specializes in using technology to grow local businesses.
                p I've used Facebook Ads to generate thousands of leads for various businesses and want to use what I know to help you do the same!
                p
                    | I highly recommend this email series if you want to
                    b  drive new paying customers to your local business!
            .graphic
                img.circle.outline(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")

    .section
        .small-container
            .full
                h2 Frequently Asked Questions

                p.bold Will Facebook Ads work for my businesses?
                p Of course they will! Facebook makes it easy to segment users by just about anything. This means you can show ads to only people in your area that have an interest in something related to your business. The more specific you get, the more effective your ads will be.

                p.bold What kind of results will I see?
                p Results will vary slightly from business to business, but in general, you will see new leads after only a week or two. It's not uncommon for businesses to generate hundreds of new leads after just 30 days.

                p.bold How much time will this take me?
                p Setting up Facebook ads takes a little upfront work, but you should be able to set everything up in a couple of days. When the initial work is done, your ads will pretty much run themselves.  That means you can sit back and watch new customer roll in!

    .section.cta.light-gray
        .container
            a.button.block(href='#signup-section') Get the FREE 7-day email series!
