extends ./_layouts/landing-page-no-header
include ./_mixins/landing-page

block no_hero

block content
    .section.light-yellow
        .container
            .description
                h1 I will help you grow your local business
                p Hey, there!  My name is Shane and I am a digital marketer who specializes in using technology to grow local businesses.
                p
                    | I've
                    b  created hundreds of websites and generated thousands of leads
                    |  for all kinds of businesses.  Now I want to do the same for you!
                p.bold If you want to take your business to the next level, I'll help you do it!

            .graphic
                img.circle.outline(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")

    .section.light-gray
        .small-container
            .full
                h2.bold Turn your website into a customer generating machine!

                p
                    | Is your website bringing new customers to your business? If the answer to that question is anything but yes,
                    b  you are leaving money on the table.

                p
                    | The truth is your website should provide more than just an online presence.
                    b  It should grow your business!

                p There are two important factors that every website needs to be a customer generating machine:

                ul
                    li
                        b Website Visitors
                        |  - you might have the nicest website in the world, but if no one sees it, then it isn't doing anything for you business. Instead, you need to make sure your site has a constant stream of new visitors so more people can find your business.
                    li
                        b Lead Generation
                        |  - once you have visitors on your site, you want to turn them into paying customers. This is where you incentivize visitors to take action and become customers.

                p You can't have just one of the above. You need both to bring in new paying customers. Once it's working though, you can sit back and watch your website send customers to your local business.

                p
                    | My job is to help you set this up.
                    b  I specialize in driving traffic to websites and turning those visitors into paying customers.
                    |  I will turn your website into a customer generating machine so you can sit back and watch your business grow.

    .section
        .small-container
            .full
                h2.bold Let's chat about your business!
                p If you want your website to drive customers to your business and be more than just an online presence, then let's chat!
                p
                    | Send an email to
                    a(href='mailto:shane@shaneburkhart.com')  shane@shaneburkhart.com
                    |  with a link to your business's website.  I'll take a look at it and get back to you with ways I can turn your website into a customer generating machine.
                    b  This is at no cost to you!
                p I look forward to hearing from you and I am excited to help you grow your business!
