extends ./_layouts/landing-page-no-header
include ./_mixins/landing-page

block content
    h1 Hey there!
    p Something
    p Something
    p Something
    p Something
    p Something
    p Something
    p Something
    p Something
    p Something
    p Something
