extends ./_layouts/landing-page-no-header
include ./_mixins/landing-page

block no_hero

block content
    .section.dark-green
        .container
            .description
                h1 Hey I'm Shane!
                p
                    | Hey, there!  My name is Shane and
                    b  I'm going to help you grow your business!
                p I'm a software developer turned marketer. I've built many websites and driven traffic and collected leads.
                p Now I'm using what I have learned over the years to help you grow your business. I specialize in helping small businesses use technology to grow their business.
            .graphic
                img.circle.outline(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")

    .section.light-gray
        .small-container
            .full
                h1 I want to help you grow your business
                p Technology
                p Most small businesses I see businesses have websites but they aren't growing your business.
                p Your website should

                p I use technical marketing

                p Small businesses aren't using technology so there is endless opportunity.

                p With technology, you can target more people.
                p And you can target them specifically.
                p The internet is the easiest way to stay in touch with a large number of people.


    .section
        .small-container
            .full
                h1 Get a quote
                p
