extends ./_layouts/landing-page-no-header
include ./_mixins/landing-page

block variables
   - var title = '7 Tools Small Businesses Are Using To Double Their Customers With Facebook Ads';
   - var currentPath = '/tools-for-small-businesses-to-double-their-customers';
   - var description = 'Get your free list of 7 tools small businesses are using to double their customers.';

block no_hero

block content
    .section.micro.dark-green
        .container
            .full
                h1.text-center
                    span(style="font-weight: 400;") List of 7 Tools Small Businesses Are Using to
                    br
                    span(style="font-size: 54px;") Double Their Customers

    .section.tiny
        .small-container
            .full
                :markdown-it()
                    If you could double your business's customers, **what kind of impact would that have on you and your business?**

                    Would you be able to:

                    - **Work fewer late nights and weekends?**
                    - **Hire that extra employee your business desperately needs?**
                    - **Worry less about paying your bills and more about serving your customers?**

                    Whether your business is just starting or you want to take it to the next level, doubling your customers will have a huge impact on your business!

                    **It turns out that this is easier than you might expect too.** Most small businesses aren't using the tools in this list and the ones that do see new paying customers every day.

                    Simply integrating these tools with your business will allow you to reach more people so you always have a steady stream of customers to your business.

                    I won't keep you waiting any longer. Here is the list of 7 tools you can use on your business to double your customers. Enjoy!

                    ## The 7 Tools to Double Your Customers

                    ### **Sumo.com**

                    ![](/assets/images/fb-ads-series/day-2/yoga-studio-sumo-welcome-mat.png)

                    More often than not, when someone first visits your business's website, they probably aren't going to be ready to buy from you. That's like asking someone to marry you before you have had a first date.

                    Instead of going straight for the sale, it's better to ask for something like their email address in exchange for something small. This lets you keep in touch so they get to know you better.  Ultimately, they will be more likely to purchase from you.

                    Sumo.com makes collecting emails easy!  They provide a suite of tools to help you build forms to collect contact information from website visitors. Generally, these forms offer something like free information, a free quote or first-time discount to entice users to sign up.

                    If your offer is relevant to your business, the people opting in will be highly interested in something related to your business. That means the email addresses you collect will not only be **more likely to purchase**, but they will also **buy more from you.** That sounds pretty nice!

                    [Click here to create a free Sumo.com account.](https://sumo.com/register)

                    ### **Mailchimp**

                    ![](/assets/images/fb-ads-series/day-2/final-thank-you-email.png)

                    Sumo.com helps you collect email addresses, but they won't send emails.  Instead, you will need a Mailchimp account. Mailchimp makes it easy to store lists of email addresses as well send emails to those people.

                    At the very least, you'll need to send a thank you email to new subscribers containing the offer they signed up for.

                    **The conversation doesn't stop there, though!** Now that a future customer has given you their email address, they expect you to send them future messages.

                    This is your chance to build a relationship with them and show them how your business will solve their problem. Good things to send are education around your business, new product offerings, holiday sales, etc.

                    [Click here to create a free Mailchimp account.](https://login.mailchimp.com/signup)

                    ### **Facebook Ads Manager**

                    ![](/assets/images/fb-ads-series/day-3/final-yoga-ad-example.png)

                    Your offer will only collect emails if you have website visitors. Currently, you might be getting some website traffic from Google searches, but those are only people searching for your business.

                    **What about everyone that doesn't know about your business yet?**

                    Facebook Ads help you expand your reach and drive massive traffic to your website. With over a billion daily users, you can be sure your customers are on Facebook.  **But how do you find them?**

                    With the Facebook Ads Manager you can segment groups of people by location, interests, job title, etc. Seriously, check it out.  It's crazy!

                    You can show ads to only people in your area that are highly interested in something related to your business. This means website visitors are going to be more likely to signup for your offer resulting in more people purchasing!

                    [Click here to view your Facebook Ads Manager.](https://www.facebook.com/ads/manager)

                    ### **Hubspot Free Stock Images**

                    ![](https://blog.hubspot.com/hs-fs/hubfs/Picjumbo-1.jpg?t=1489201537240&width=1338&name=Picjumbo-1.jpg)

                    This isn't really a tool, but it is an extremely useful resource for high-quality stock photos you can use for your Facebook Ads.

                    I recommend trying a few images from your business as well as a few stock photos to see what works best for your audience.

                    [Click here to get free stock photos.](https://blog.hubspot.com/marketing/free-stock-photos)

                    ### **Gimp**

                    ![](/assets/images/tools-to-double-your-customers/editing-an-image-in-gimp.png)

                    This is a free version of Photoshop that you can use to edit images.  Most of the time, you won't need to do more than add some text or a colored overlay to an image. Gimp will help you get it done!

                    [Here's a link to Gimp's website.](https://www.gimp.org/)

                    ### **Zapier**

                    ![](/assets/images/tools-to-double-your-customers/using-zapier-to-add-leads-to-google-sheet.png)

                    If you're a small business that needs to talk to their customer 1 on 1 to make a sale or set up an appointment. Instead of sending automated emails, you might need to reach out personally.

                    It's not uncommon for businesses to manage these communications with a simple spreadsheet. But wouldn't it be nice if each person that signed up got added to that spreadsheet automatically?

                    With Zapier, you can set up automations like the one I just described. They make it easy to connect hundreds of services, so you can automate tasks and free up some of your time!

                    [Click here to signup for a free Zapier account.](https://zapier.com/sign-up)

                    ### **Google Drive**

                    ![](/assets/images/tools-to-double-your-customers/leads-crm-in-a-google-sheet.png)

                    I'm sure it goes without saying that every business needs spreadsheets and documents for things like budgets, memos, etc.

                    Google Drive provides a free spreadsheet and document editor as well as cloud storage for your files. Since everything is stored in the cloud you can easily share your documents and have them wherever you go.

                    I recommend using Google Drive for your documents if you want to set up automations with Zapier.

                    [Click here to visit your Google Drive.](https://drive.google.com/drive/u/0)

                br

                :markdown-it()
                    ## **Do you want to use these tools to double your customers?**

                    The tools above take a little bit of time and experience to get set up. If you want, I have a free 3-day email series that teaches you how to integrate these tools into your business.

                    In this email series, you will learn how to:

                    - Create an offer your audience can't resist.
                    - Collect email addresses for your offer with Sumo.com.
                    - Craft the perfect Facebook Ad to drive traffic to your offer.
                    - Send emails with Mailchimp to turn your email addresses into paying customer!

                    Whether you need more customers to pay the bills or you are having trouble growing your business, this email series will teach you how to double your customers.

                    Sign up below to learn how to take your business to the next level with Facebook Ads!

                br

                .content-upgrade
                    h3.bold Learn how to double your customers with these tools!
                    p
                        | Enter your email to get a free 3-day email series that teaches you how to use these tools to
                        b  double your customers and take your business to the next level!
                    ._form_7
                    script(src="https://sparkschool.activehosted.com/f/embed.php?id=7" type="text/javascript" charset="utf-8")

    .section.dark-green
        .container
            .description
                h2.bold Meet the Author
                p Hey there! My name is Shane and I am a digital marketer who specializes in using technology to grow local businesses.
                p
                    | I've used Facebook Ads to
                    b  generate thousands of leads
                    |  for various businesses and want to use what I have learned to
                    b  help you do the same!
                p
                    | I highly recommend this email series if you want to
                    b  double your customers and take your business to the next level!

            .graphic
                img.circle.outline(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")
