#landing-page {
    @import "main-nav";

    &.no-header {
        padding-top: 0px;
    }

    .container {
        width: 900px;
    }

    // Don't keep this pattern.  Move to a generic set of container sizes.
    .small-container {
        width: 700px;
    }

    .hero {
        position: relative;
        height: 350px;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000000;
            opacity: .8;
            z-index: 2;
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            color: #ffffff;
            padding-top: 60px;
            text-align: center;
            z-index: 3;
        }

        h1 {
            margin-bottom: 10px;
        }

        p {
            color: #cccccc;
            font-weight: 300;

            &.shout {
                margin-bottom: 5px;
                font-family: "Handlee";
                font-size: 20px;
            }

            &.narrow {
                width: 75%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .section {
        padding: 80px 0px;
        border-bottom: 1px solid #eaeaea;

        &.light-gray {
            background-color: #f6f6f6;

            .bullet-points {
                background-color: #ffffff;
            }
        }

        &.dark-blue {
            color: #e8e8e8;
            background-color: #014f69;

            .bullet-points {
                background-color: #ffffff;
            }

            .bold, b {
                color: #ffffff;
            }

            .signup-form {
                .bold, b {
                    color: inherit;
                }
            }

            a {
                color: #ffffff;
                font-weight: 700;
                text-decoration: underline;

                &.button {
                    text-decoration: none;
                    font-weight: inherit;
                }
            }
        }

        &.small {
            padding: 60px 0px;
        }

        &.tiny {
            padding: 40px 0px;
        }

        &.micro {
            padding: 20px 0px;
        }

        h2 {
            margin-bottom: 10px;
        }

        h4 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
            font-size: 16px;

            &.light {
                font-weight: 300;
            }

            &.space {
                margin-bottom: 25px;
            }
        }

        ul {
            padding: 0px 30px 0px;
            margin: 0px;
            list-style: none;

            li {
                position: relative;
                font-size: 16px;
                line-height: 1.4;

                &:before {
                    color: #3aa549;
                    content: '\f00c';
                    font-family: 'FontAwesome';
                    position: absolute;
                    top: 3px;
                    left: -30px;
                    display: block;
                    margin-right: 16px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        .container {
            & > * {
                vertical-align: top;
                display: inline-block;
                margin-right: 4%;

                &:last-child {
                    margin-right: 0px;
                }

                & > *:last-child {
                    margin-bottom: 0px;
                }
            }

            & > .full {
                width: 100%;
            }

            & > .half {
                width: 48%;
            }

            & > .description {
                width: 55%;
            }

            & > .graphic {
                width: 41%;

                img {
                    width: 100%;
                }

                & .rounded {
                    border-radius: 3px;
                }
            }
        }

        .bullet-points {
            background-color: #f6f6f6;
            border: 1px solid #eaeaea;
            padding: 25px 20px;

            ul {
                li {
                    font-size: 18px;
                }
            }
        }

        &.cta {
            padding: 30px 0px;
            text-align: center;

            .button {
                width: 40%;
                margin-bottom: 0px;
            }
        }

        &.quote {
            padding: 40px 0px;
            text-align: center;

            blockquote {
                font-size: 22px;
                line-height: 1.6;

                &:before, &:after {
                    content: none;
                }
            }

            .name {
                color: #777777;
            }
        }
    }

    .signup-form {
        color: #292929;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        padding: 30px;
        margin-bottom: 25px;
        border-radius: 3px;

        &:last-child {
            margin-bottom: 0px;
        }

        h3 {
            margin-bottom: 15px;
        }

        button {
            width: 100%;
            display: block;
            margin-bottom: 0px;
        }
    }

    #section-clock {
        margin-bottom: 0px;

        & > div {
            color: #ffffff;
            display: inline-block;
            width: 85px;
            padding: 10px 0px;
            background-color: #014f69;
            border-radius: 3px;
            margin: 0px 5px;

            & > * {
                display: block;
            }

            span {
                font-size: 32px;
            }
        }
    }

    #box-clock {
        margin-bottom: 15px;

        & > div {
            display: inline-block;
            width: 65px;
            border-radius: 3px;
            margin: 0px 5px;

            & > * {
                display: block;
            }

            span {
                font-size: 24px;
                font-weight: bold;
            }

            .smalltext {
                font-size: 14px;
            }
        }
    }

    @media only screen and (max-width : 850px) {
        .hero {
            height: 400px;
        }

        .container {
            width: 95%;
        }

        .section {
            padding: 60px 0px;

            & .container > * {
                display: block !important;
                width: 100% !important;
                margin-bottom: 25px;
            }
        }
    }

    @media only screen and (max-width : 500px) {
        .hero {
            height: 500px;

            p.narrow {
                width: 100%;
            }
        }
    }

    @media only screen and (max-width : 350px) {
        .hero {
            height: 550px;
        }
    }
}
